{% extends 'base.html' %} {% block container %}

<div class="container pt-5 pt-md-5">
    <div class="row pt-5 pt-md-5 pt-sm-4">
        <!-- Image -->
        <!--div class="col-4">
            <div class="mb-4">
            <img class="img-fluid hover"
                    src="{{url_for('static',filename='graphics/itsmanjeet.jpg')}}"
                    style="border-radius: 100%;"
                    data-aos="fade-left"
                    data-aos-duration="1500">
            </div>
            <h1 class="heading text-center"
                style="color: #212529;
                        font-weight: 700;">
                itsManjeet
            </h1>
        </div -->

        <!-- Left top Heading -->
        <div class="col-12 pt-5 pt-md-5"
                data-aos="fade-right"
                data-aos-duration="1500">
    <!-- Left content Heading -->
            <p class="tagline mb-3"
                style="font-size: 22px;
                        font-weight: 400;">
                There is no big organisation or group behind Releax OS, just a crazy college CS student.<br><br>
                Releax OS is a free Indian opensource project which focuses on simplicity and innovativity. It doesn’t promises to be the best OS avaliable, but aims to provide a interface to enjoy works. If you are curious about the name ‘Releax’, its just a spelling mistake, 😂 which i did at mid night coding time, and later on i got a domain name without checking the error of [already exist]. 
                <br><br>
                Feel free to share your ideas to releax os : itsmanjeet@releax.in
            </p>
        </div>
    </div>
</div>

{% endblock %}
