{% extends 'base.html' %} {% block container %}

<div class="container pt-5 pt-md-5">
    <div class="row pt-5 pt-md-5 pt-sm-4">
        <!-- Image -->
        <!--div class="col-4">
            <div class="mb-4">
            <img class="img-fluid hover"
                    src="{{url_for('static',filename='graphics/itsmanjeet.jpg')}}"
                    style="border-radius: 100%;"
                    data-aos="fade-left"
                    data-aos-duration="1500">
            </div>
            <h1 class="heading text-center"
                style="color: #212529;
                        font-weight: 700;">
                itsManjeet
            </h1>
        </div -->

        <!-- Left top Heading -->
        <div class="col-12 pt-5 pt-md-5"
                data-aos="fade-right"
                data-aos-duration="1500">
    <!-- Left content Heading -->
            <p class="tagline mb-3"
                style="font-size: 22px;
                        font-weight: 400;">
                Their is no big organisation or group behind releax os, just a crazy college CS student,<br><br>
                releax os is a free opensource project focus on simplicity and innovativity. it doesn’t promise to be the best os avaliable but aim to provide a interface to enjoy the work. if you are curious about the name ‘releax’, it is just a spelling mistake 😂 which i did at mid night coding time and later on i got a domain name without the error of [already exist]. 
                <br><br>
                feel free to share your ideas to releax os : itsmanjeet@releax.in
            </p>
        </div>
    </div>
</div>

{% endblock %}
